
    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Hanuman | शरण्य धाम</title>
    
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Aarti kije hanuman lala ki dusht dalan ragunath kala ki, hanuman arti, Lord hanuman's Aarti.">
    <meta name="keywords" content="Hanuman, Bajrangbali, आरती, शिव, Sharanyadham, Sharanya dham">
    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-hanuman.jpg' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| श्री हनुमान आरती ||</h3>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                            <p>जाके बल से गिरिवर कांपे</p>
                            <p>रोग दोष जाके निकट न झांके</p>
                            <p>
                                <br>
                            </p>
                            <p>अंजनि पुत्र महा बलदाई</p>
                            <p>सन्तन के प्रभु सदा सहाई</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                            <p>दे बीरा रघुनाथ पठाए</p>
                            <p>लंका जायी सिया सुधि लाए</p>
                            <p>
                                <br>
                            </p>
                            <p>लंका सो कोट समुद्र सीखाई</p>
                            <p>जात पवनसुत बार न लाई</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                            <p>लंका जारि असुर संहारे</p>
                            <p>सियारामजी के काज सवारे</p>
                            <p>
                                <br>
                            </p>
                            <p>लक्ष्मण मूर्छित पड़े सकारे</p>
                            <p>आनि संजीवन प्राण उबारे</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                            <p>पैठि पाताल तोरि जम कारे</p>
                            <p>अहिरावण की भुजा उखारे</p>
                            <p>
                                <br>
                            </p>
                            <p>बाएं भुजा असुरदल मारे</p>
                            <p>दाहिने भुजा संत जन तारे</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                            <p>सुर नर मुनि आरती उतारें</p>
                            <p>जय जय जय हनुमान उचारें</p>
                            <p>
                                <br>
                            </p>
                            <p>कंचन थार कपूर लौ छाई</p>
                            <p>आरती करत अंजनी माई</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                            <p>जो हनुमानजी की आरती गावे</p>
                            <p>बसि बैकुण्ठ परम पद पावे</p>
                            <p>
                                <br>
                            </p>
                            <p>लंक बिध्वंश किन्ही रघुराई</p>
                            <p>तुलसी दस स्वामी आरती गाई</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>दुष्ट दलन रघुनाथ कला की</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कीजै हनुमान लला की</p>
                            <p>
                                <br>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">||Hanuman Aarti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>jake bal se girivar kaanpe</p>
                                <p>rog dosh ja ke nikat na jhaanke</p>
                                <p>
                                    <br>
                                </p>
                                <p>anjani putra maha baldaaee</p>
                                <p>santan ke prabhu sada sahai</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>de beera raghunath pathaaye</p>
                                <p>lanka jaari siya sudhi laaye</p>
                                <p>
                                    <br>
                                </p>
                                <p>lanka so kot samundra-si khai</p>
                                <p>jaat pavan sut baar na lai</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>lanka jaari asur sanhare</p>
                                <p>siyaramji ke kaaj sanvare</p>
                                <p>
                                    <br>
                                </p>
                                <p>lakshman moorchhit pade sakaare</p>
                                <p>aani sajeevan pran ubaare</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>paithi pataal tori jam-kaare</p>
                                <p>ahiravan ke bhuja ukhaare</p>
                                <p>
                                    <br>
                                </p>
                                <p>baayen bhuja asur dal mare</p>
                                <p>daahine bhuja santjan tare</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>sur nar muni aarti utare</p>
                                <p>jai jai jai hanuman uchaare</p>
                                <p>
                                    <br>
                                </p>
                                <p>kanchan thaar kapoor lau chhaai</p>
                                <p>aarti karat anjana maai</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>jo hanumanji ki aarti gaave</p>
                                <p>basi baikunth param pad pave</p>
                                <p>
                                    <br>
                                </p>
                                <p>lank bidhwansh kinhi raghurai</p>
                                <p>tulsi das swami aarti gaayi</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>dusht dalan ragunath kala ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>aarti kije hanuman lala ki</p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}