{% extends "base.html" %}
{% load static %}
{% block meta %}

<title>Aarti Ganeshji | शरण्य धाम</title>
<!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
<meta name="description" content=" Jai Ganesh,Jai Ganesh, Jai Ganesh deva. Ganesh Ji ki Aarti. Lord Ganesha's Aarti.">
<meta name="keywords" content="Ganesh, mahadeva, आरती, गणेश, Sharanyadham, Sharanya dham">

{% endblock %}
{% block content %}
<div id="content-wrapper">
    <section id="aarti" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="center gap fade-down section-heading">
                <img src="{% static 'images/common/aarti-ganesh.jpg' %}">
            </div>

            <div class="center gap fade-down ">
                <h3 class="main-title">गणेश जी की आरती</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <p>जय गणेश जय गणेश,</p>
                        <p>जय गणेश देवा ।</p>
                        <p>माता जाकी पार्वती,</p>
                        <p>पिता महादेवा ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>एक दंत दयावंत,</p>
                        <p>चार भुजा धारी ।</p>
                        <p>माथे सिंदूर सोहे,</p>
                        <p>मूसे की सवारी ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>जय गणेश जय गणेश,</p>
                        <p>जय गणेश देवा ।</p>
                        <p>माता जाकी पार्वती,</p>
                        <p>पिता महादेवा ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>पान चढ़े फल चढ़े,</p>
                        <p>और चढ़े मेवा ।</p>
                        <p>लड्डुअन का भोग लगे,</p>
                        <p>संत करें सेवा ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>जय गणेश जय गणेश,</p>
                        <p>जय गणेश देवा ।</p>
                        <p>माता जाकी पार्वती,</p>
                        <p>पिता महादेवा ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>अंधन को आंख देत,</p>
                        <p>कोढ़िन को काया ।</p>
                        <p>बांझन को पुत्र देत,</p>
                        <p>निर्धन को माया ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>जय गणेश जय गणेश,</p>
                        <p>जय गणेश देवा ।</p>
                        <p>माता जाकी पार्वती,</p>
                        <p>पिता महादेवा ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>'सूर' श्याम शरण आए,</p>
                        <p>सफल कीजे सेवा ।</p>
                        <p>माता जाकी पार्वती,</p>
                        <p>पिता महादेवा ॥</p>
                        <p>
                            <br>
                        </p>
                        <p>जय गणेश जय गणेश,</p>
                        <p>जय गणेश देवा ।</p>
                        <p>माता जाकी पार्वती,</p>
                        <p>पिता महादेवा ॥</p>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-content">
                            <p>Jai Ganesh Jai Ganesh,</p>
                            <p>Jai Ganesg Deva ।</p>
                            <p>Mata Jaki Parwati,</p>
                            <p>Pita Maha Deva ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Ek Dant Daya Want,</p>
                            <p>Char Bhuuja Dhari ।</p>
                            <p>Mathe Sindor Shoye,</p>
                            <p>Muse Ki Sawari ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Jai Ganesh Jai Ganesh,</p>
                            <p>Jai Ganesg Deva ।</p>
                            <p>Mata Jaki Parwati,</p>
                            <p>Pita Maha Deva ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Pan Chadhe Phool Chadhe,</p>
                            <p>Aur Chadhe Mewa ।</p>
                            <p>Laduan Ko Bhog Lage,</p>
                            <p>Sant Kare Sewa ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Jai Ganesh Jai Ganesh,</p>
                            <p>Jai Ganesg Deva ।</p>
                            <p>Mata Jaki Parwati,</p>
                            <p>Pita Maha Deva ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Andhan Ko Aankh Det,</p>
                            <p>Kodhin Ko Kaya ।</p>
                            <p>Bajhan Ko Purta Det,</p>
                            <p>Nirdhan Ko Maya॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Jai Ganesh Jai Ganesh,</p>
                            <p>Jai Ganesg Deva ।</p>
                            <p>Mata Jaki Parwati,</p>
                            <p>Pita Maha Deva ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>'sur' Shaam Sharan Aaye,</p>
                            <p>Safal Ki Jiye Sewa ।</p>
                            <p>Mata Jaki Parwati,</p>
                            <p>Pita Maha Deva ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>Jai Ganesh Jai Ganesh,</p>
                            <p>Jai Ganesg Deva ।</p>
                            <p>Mata Jaki Parwati,</p>
                            <p>Pita Maha Deva ॥</p>
                            <p>
                                <br>
                            </p>
                        </div>
                    </div>
                    <h3 class="main-title">आरती संग्रह</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-ganeshji' %}" class="btn btn-outlined btn-primary">गणेश जी की आरती -
                                        Ganesh ji Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-shanidevji' %}" class="btn btn-outlined btn-primary">शनिदेव जी की आरती
                                        - Shani Dev Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-ramji' %}" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती
                                        - Shree Ram Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-hanumanji' %}" class="btn btn-outlined btn-primary">हनुमान जी की
                                        आरती - Hanuman Ji Aarti</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-krishnaji' %}" class="btn btn-outlined btn-primary">कृष्ण जी की आरती -
                                        krishna ji Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-ramayanji' %}" class="btn btn-outlined btn-primary">रामायण जी की
                                        आरती - Ramayan ji Aarti</a>
                                </li>

                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-vishnuji' %}" class="btn btn-outlined btn-primary">विष्णु जी की आरती
                                        - Vishnu ji Aarti</a>
                                </li>

                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-shivji' %}" class="btn btn-outlined btn-primary">शिव जी की आरती -
                                        Shiv ji Aarti</a>
                                </li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-laxmiji' %}" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती
                                        - Laxmi ji Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-durgaji' %}" class="btn btn-outlined btn-primary">दुर्गा जी की आरती
                                        - Durga ji Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-saraswatiji' %}" class="btn btn-outlined btn-primary">सरस्वती जी
                                        आरती - Saraswati ji Aarti</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="{% url 'aarti-kaliji' %}" class="btn btn-outlined btn-primary">काली जी की आरती -
                                        Kali Ji Aarti</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.categories-->
        </div>
    </section>
</div>
{% endblock %}