    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Durgaji | शरण्य धाम</title>
    <meta name="description" content="Jai ambe gauri, mayya jai shyama gauri. Durga Ji ki Aarti. Durga Aarti.">
    <meta name="keywords" content="Durga, Durga Mata, aarti, आरती, दुर्गा, Sharanyadham, Sharanya dham">

    {% endblock %}
    {% block content %}
   
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-durga.png' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| दुर्गा माता जी आरती ||</h3>

                            <p>ॐ जय अम्बे गौरी, मैया जय श्यामा गौरी</p>
                            <p>तुम को निशदिन ध्यावत हरि ब्रह्मा शिवरी. ॐ जय अम्बे…</p>
                            <p>मांग सिंदूर विराजत टीको मृगमद को</p>
                            <p>उज्जवल से दो नैना चन्द्र बदन नीको. ॐ जय अम्बे…</p>
                            <p>कनक समान कलेवर रक्ताम्बर राजे</p>
                            <p>रक्त पुष्प दल माला कंठन पर साजे. ॐ जय अम्बे…</p>
                            <p>केहरि वाहन राजत खड़्ग खप्पर धारी</p>
                            <p>सुर-नर मुनिजन सेवत तिनके दुखहारी. ॐ जय अम्बे…</p>
                            <p>कानन कुण्डल शोभित नासग्रे मोती</p>
                            <p>कोटिक चन्द्र दिवाकर राजत सम ज्योति. ॐ जय अम्बे…</p>
                            <p>शुम्भ निशुम्भ विडारे महिषासुर धाती</p>
                            <p>धूम्र विलोचन नैना निशदिन मदमाती. ॐ जय अम्बे…</p>
                            <p>चण्ड – मुंड संहारे सोणित बीज हरे</p>
                            <p>मधु कैटभ दोऊ मारे सुर भयहीन करे.ॐ जय अम्बे…</p>
                            <p>ब्रह्माणी रुद्राणी तुम कमला रानी</p>
                            <p>आगम निगम बखानी तुम शिव पटरानी. ॐ जय अम्बे…</p>
                            <p>चौसठ योगिनी मंगल गावत नृत्य करत भैरु</p>
                            <p>बाजत ताल मृदंगा और बाजत डमरु. ॐ जय अम्बे…</p>
                            <p>तुम ही जग की माता तुम ही हो भर्ता</p>
                            <p>भक्तन की दुःख हरता सुख सम्पत्ति कर्ताॐ जय अम्बे…</p>
                            <p>भुजा चार अति शोभित वर मुद्रा धारी</p>
                            <p>मन वांछित फ़ल पावत सेवत नर-नारी. ॐ जय अम्बे…</p>
                            <p>कंचन थार विराजत अगर कपूर बाती</p>
                            <p>श्रीमालकेतु में राजत कोटि रत्न ज्योति. ॐ जय अम्बे…</p>
                            <p>श्री अम्बे जी की आरती जो कोई नर गावे</p>
                            <p>कहत शिवानंद स्वामी सुख संपत्ति पावे. ॐ जय अम्बे…</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">|| Durga Mata ji Arti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Jai ambe gauri, mayya jai shyama gauri</p>
                                <p>Tumko nish-din dhyavat, hari brahma shivji, Jai ambe gauri</p>
                                <p>Maang sindoor virajat, tiko mrig-mad ko</p>
                                <p>Ujjwal se dou naina, chandra vadan niko, Jai ambe gauri</p>
                                <p>Kanak samaan kalewar, raktaambar raaje</p>
                                <p>Rakt pushp gal-mala, kanthan par saaje, Jai ambe gauri</p>
                                <p>Kehri vahan rajat, kharag khapar dhaari</p>
                                <p>Sur nar muni jan sevat, tinke dukh haari, Jai ambe gauri</p>
                                <p>Kanan kundal shobhit, naas-agre moti</p>
                                <p>Kotik chandra divakar, sum rajat jyoti, Jai ambe gauri</p>
                                <p>Shumbh ni-shumbh vidare, mahisha sur ghati</p>
                                <p>Dhumra-vilochan naina, nish-din- mad mati, Jai ambe gauri</p>
                                <p>Chandh mundh sangh-haare, shonit beej hare</p>
                                <p>Madhu kaitabh dou maare, sur bhe heen kare, Jai ambe gauri</p>
                                <p>Brahmani rudrani, tum kamla rani</p>
                                <p>Aagam nigam bakhani, tum shiv patrani,Jai ambe gauri</p>
                                <p>Chon-sath yogini gavat, nritya karat bhairon</p>
                                <p>Baajat taal mridanga, aur baajat damaroomaroo , Jai ambe gauri</p>
                                <p>Tum ho jag ki maata, tum hi ho bharta</p>
                                <p>Bhakto ki dukh harata, sukh sampati karata, Jai ambe gauri</p>
                                <p>Bhuja chaar ati shobit, var mudra dhaari</p>
                                <p>Man vaanchit phal pavat, sevat nar naari, Jai ambe gauri</p>
                                <p>Kanchan thaal virajat, agar kapoor baati</p>
                                <p>Shri maal-ketu me rajat, kotik ratan jyoti, Jai ambe gauri</p>
                                <p>Shri ambe-ji-ki aaarti, jo koi nar gaave</p>
                                <p>Kahat shivanand swami, sukh sampati pave, Jai ambe gauri</p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
       {% endblock %}