    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Shiv | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Jai Shiv Omkara, Om jai Shiv Omkara, shiv arti, Lord shiv's Aarti.">
    <meta name="keywords" content="Shiv, mahadev, आरती, शिव, Sharanyadham, Sharanya dham">
    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                <img src="{% static 'images/common/aarti-shiv.jpg' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| श्री शिव आरती ||</h3>
                            <p>जय शिव ओंकारा, ॐ जय शिव ओंकारा ।</p>
                            <p>ब्रह्मा, विष्णु, सदाशिव, अर्द्धांगी धारा ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>एकानन चतुरानन पंचानन राजे ।</p>
                            <p>हंसासन गरूड़ासन वृषवाहन साजे ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>दो भुज चार चतुर्भुज दसभुज अति सोहे ।</p>
                            <p>त्रिगुण रूप निरखते त्रिभुवन जन मोहे ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>अक्षमाला वनमाला मुण्डमाला धारी ।</p>
                            <p>त्रिपुरारी कंसारी कर माला धारी ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>श्वेतांबर पीतांबर बाघंबर अंगे ।</p>
                            <p>सनकादिक गरुणादिक भूतादिक संगे ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>कर के मध्य कमंडलु चक्र त्रिशूलधारी ।</p>
                            <p>सुखकारी दुखहारी जगपालन कारी ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>ब्रह्मा विष्णु सदाशिव जानत अविवेका ।</p>
                            <p>प्रणवाक्षर में शोभित ये तीनों एका ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>
                            <p>
                                <br>
                            </p>
                            <p>त्रिगुणस्वामी जी की आरति जो कोइ नर गावे ।</p>
                            <p>कहत शिवानंद स्वामी सुख संपति पावे ॥</p>
                            <p>ॐ जय शिव ओंकारा</p>

                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">||Shiv Aarti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Jai Shiv Omkara, Om jai Shiv Omkara,</p>
                                <p>Brahma Vishnu Sadashiv Arddhagni Dhara.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Ekanan Chaturanan Panchanan Rajai,</p>
                                <p>Hansanan Garudasan Vrishvahan Sajai.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Do Bhuj Char Chaturbhuj Das Bhuj Ati Sohe,</p>
                                <p>Trigun Roop Nirakhta Tribhuvan Jan Mohe.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Akshaymala Vanmala Mundmala Dhari,</p>
                                <p>Chadan Mrigmad Sohai Bhale Shashi Dhari.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Shvetambar Pitambar Baghambar Ange,</p>
                                <p>Sankadik Garunadik Bhootadik Sange.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Kar ke Mashya Kamandalu Chakra Trishooldhari,</p>
                                <p>Sukhkari Dukhhari Jag Palankari.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Brahma Vishnu Sadashiv Jaanat Aviveka,</p>
                                <p>Pranvaakshar me Shobhit Yah Tinon Eka.</p>
                                <p>Om Jai Shiv Omkara</p>
                                <p>
                                    <br>
                                </p>
                                <p>Trigun Swami ji Ki Aarti Jo Koi Nar Gave,</p>
                                <p>Kahat Shivanand Swami Manvanchhit Phal Pave.</p>
                                <p>Om Jai Shiv Omkara</p>

                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}