    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Ramayan | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Aarti Shri Ramayan Ji Ki, Kirti Kalit Lalit Siya Pi Ki. Lord Ram's Aarti.">
    <meta name="keywords" content="Ramayan, ram, आरती, रामायण , Sharanyadham, Sharanya dham">
    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-ramayan.png' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| श्री रामायण आरती ||</h3>
                            <p>आरती श्री रामायण जी की।&nbsp;</p>
                            <p>कीरति कलित ललित सिय पी की॥</p>
                            <p>
                                <br>
                            </p>
                            <p>गावत ब्रहमादिक मुनि नारद।&nbsp;</p>
                            <p>बाल्मीकि बिग्यान बिसारद॥</p>
                            <p>
                                <br>
                            </p>
                            <p>शुक सनकादिक शेष अरु शारद।&nbsp;</p>
                            <p>बरनि पवनसुत कीरति नीकी॥&nbsp;</p>
                            <p>आरती श्री रामायण जी की ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>गावत बेद पुरान अष्टदस।</p>
                            <p>&nbsp;छओं शास्त्र सब ग्रंथन को रस ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>मुनि जन धन संतान को सरबस।</p>
                            <p>&nbsp;सार अंश सम्मत सब ही की॥&nbsp;</p>
                            <p>आरती श्री रामायण जी की ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>गावत संतत शंभु भवानी।&nbsp;</p>
                            <p>अरु घटसंभव मुनि बिग्यानी ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>ब्यास आदि कबिबर्ज बखानी।&nbsp;</p>
                            <p>कागभुशुंडि गरुड़ के ही की॥&nbsp;</p>
                            <p>आरती श्री रामायण जी की ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>कलिमल हरनि बिषय रस फीकी।&nbsp;</p>
                            <p>सुभग सिंगार मुक्ति जुबती की ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>दलनि रोग भव मूरि अमी की।</p>
                            <p>&nbsp;तात मातु सब बिधि तुलसी की॥&nbsp;</p>
                            <p>आरती श्री रामायण जी की ॥</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">||Ramayan Aarti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Aarti Shri Ramayan Ji Ki,&nbsp;</p>
                                <p>Kirti Kalit Lalit Siya Pi Ki॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Gavat Brahmadik Muni Narad,&nbsp;</p>
                                <p>Valmiki Vigyan Visharad॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Shuk Sanakadi Shesh Aru Sarad,&nbsp;</p>
                                <p>Barni Pavansut Kirti Niki॥&nbsp;</p>
                                <p>Aarti Shri Ramayan Ji Ki ॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Gavat Ved Puran Ashtdash,</p>
                                <p>Chhahon Shastra Sab Granthan Ko Ras॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Munijan Dhan Santan Ko Sarbas,</p>
                                <p>Sar Ansh Sammat Sab-hiki॥&nbsp;</p>
                                <p>Aarti Shri Ramayan Ji Ki ॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Gavat Santat Shambhu Bhavani,&nbsp;</p>
                                <p>Aru Ghatsambhav Muni Vigyani॥</p>
                                <p>Vyas Adi Kavibarj Bakhani,</p>
                                <p>Kakbhushundi Garur Ke Hi Ki॥&nbsp;</p>
                                <p>Aarti Shri Ramayan Ji Ki ॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Kalimal Harni Vishay Ras Phiki,</p>
                                <p>Subhag Singar Mukti Juvati Ki॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Dalan Rog Bhav Muri Ami Ki,</p>
                                <p>Tat Mat Sab Vidhi Tulsi Ki॥&nbsp;</p>
                                <p>Aarti Shri Ramayan Ji Ki ॥</p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}