{% extends "base.html" %}
{% load static %}
{% block meta %}

    <title>Aarti Ram | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Shri Rama Chandra Kripalu Bhajuman, Haran Bhavbhay Darunam, ram arti, Lord ram's Aarti.">
    <meta name="keywords" content="ram, ramji, shree ram, आरती, रामचन्द्रजी, Sharanyadham, Sharanya dham">
    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-shani.png' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| श्री शनिदेव आरती ||</h3>

                            <p>!! जय जय श्री शनिदेव भक्तन हितकारी,</p>
                            <p>सूरज के पुत्र प्रभु छाया महतारी,</p>
                            <p>जय जय श्री शनिदेव भक्तन हितकारी !!</p>
                            <p>
                                <br>
                            </p>
                            <p>!! श्याम अंक वक्र दृष्ट चतुर्भुजा धारी,</p>
                            <p>नालाम्बर धार नाथ गज की अवसारी,</p>
                            <p>जय जय श्री शनिदेव भक्तन हितकारी !!</p>
                            <p>
                                <br>
                            </p>
                            <p>!! क्रीट मुकुट शीश रजित दिपत है लिलारी,</p>
                            <p>मुक्तन की माला गले शोभित बलिहारी,</p>
                            <p>जय जय श्री शनिदेव भक्तन हितकारी !!</p>
                            <p>
                                <br>
                            </p>
                            <p>!! मोदक मिष्ठान पान चढ़त है सुपारी,</p>
                            <p>लोहा तिल तेल उड़द महिषी अति प्यारी,</p>
                            <p>जय जय श्री शनिदेव भक्तन हितकारी !!</p>
                            <p>
                                <br>
                            </p>
                            <p>!! दे दनुज ऋषि मुनि सुमिरत नर नारी,</p>
                            <p>विश्वनाथ धरत ध्यान शरण हैं तुम्हारी,</p>
                            <p>जय जय श्री शनिदेव भक्तन हितकारी !!</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">||Shani Dev Aarti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>!! Jai Jai Shri Shanidev Bhagatan Hitkari,</p>
                                <p>Suraj Ke Putar Prabhu Chaya Mahtari,</p>
                                <p>Jai Jai Shri Shanidev Bhagatan Hitakari!!</p>
                                <p>
                                    <br>
                                </p>
                                <p>!! Shyam Ank Vakr Drasht Chaturbhuja Dhari,</p>
                                <p>Nilambar Dhar Nath Gajj Ki Avsari,</p>
                                <p>Jai Jai Shri Shanidev Bhagatan Hitakari!!</p>
                                <p>
                                    <br>
                                </p>
                                <p>!! Keet Mukut Shish Rahat Dipat Hai Lilari,</p>
                                <p>Muktan Ki Mala Gale Shobht Balihari,</p>
                                <p>Jai Jai Shri Shanidev Bhagatan Hitakari!!</p>
                                <p>
                                    <br>
                                </p>
                                <p>!! Modak Mishthan Paan Chadhat Hai Supari,</p>
                                <p>Loha Til Tel Udad Mahishi Ati Pyari,</p>
                                <p>Jai Jai Shri Shanidev Bhagatan Hitakari!!</p>
                                <p>
                                    <br>
                                </p>
                                <p>!! Dev Danuj Rishi Muni Sumirat Nar Nari,</p>
                                <p>Vishvnath Dhrat Dhyan Sharan Hai Tumhari,</p>
                                <p>Jai Jai Shri Shanidev Bhagatan Hitakari !!</p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
{% endblock %}