
    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Kaliji | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Ambe Tu Hai Jagdambe Kali,Jai Durge Khappar Wali. Kali Ji ki Aarti. Kali Aarti.">
    <meta name="keywords" content="Kali, Kali Mata, aarti, आरती, काली, Sharanyadham, Sharanya dham">

    {% endblock %}
    {% block content %}

    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-kali.jpg' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| काली माता जी आरती ||</h3>

                            <p>अम्बे तू है जगदम्बे काली,</p>
                            <p>जय दुर्गे खप्पर वाली ।</p>
                            <p>तेरे ही गुण गाये भारती,</p>
                            <p>ओ मैया हम सब उतारे तेरी आरती ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>तेरे भक्त जनो पर,</p>
                            <p>भीर पडी है भारी माँ ।</p>
                            <p>दानव दल पर टूट पडो,</p>
                            <p>माँ करके सिंह सवारी ।</p>
                            <p>सौ-सौ सिंहो से बलशाली,</p>
                            <p>अष्ट भुजाओ वाली,</p>
                            <p>दुष्टो को पलमे संहारती ।</p>
                            <p>ओ मैया हम सब उतारे तेरी आरती ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>माँ बेटे का है इस जग मे,</p>
                            <p>बडा ही निर्मल नाता ।</p>
                            <p>पूत - कपूत सुने है पर न,</p>
                            <p>माता सुनी कुमाता ॥</p>
                            <p>सब पे करूणा दरसाने वाली,</p>
                            <p>अमृत बरसाने वाली,</p>
                            <p>दुखियो के दुखडे निवारती ।</p>
                            <p>ओ मैया हम सब उतारे तेरी आरती ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>नही मांगते धन और दौलत,</p>
                            <p>न चांदी न सोना माँ ।</p>
                            <p>हम तो मांगे माँ तेरे मन मे,</p>
                            <p>इक छोटा सा कोना ॥</p>
                            <p>सबकी बिगडी बनाने वाली,</p>
                            <p>लाज बचाने वाली,</p>
                            <p>सतियो के सत को सवांरती ।</p>
                            <p>ओ मैया हम सब उतारे तेरी आरती ॥</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">|| Kali Mata ji Arti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Ambe Tu Hai Jagdambe Kali,</p>
                                <p>Jai Durge Khappar Wali ।</p>
                                <p>Tere Hi Gun Gaaye Bharati,</p>
                                <p>O Maiya, Hum Sab Utarey Teri Aarti ॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Tere Jagat Ke Bhakt Janan Par,</p>
                                <p>Bhid Padi Hai Bhari Maa ।</p>
                                <p>Daanav Dal Par Toot Pado,</p>
                                <p>Maa Karke Singh Sawari ।</p>
                                <p>So-So Singho Se Tu Balshali,</p>
                                <p>Asth Bhujao Wali,</p>
                                <p>Dushton Ko Pal Mein Sangharti ।</p>
                                <p>O Maiya, Hum Sab Utarey Teri Aarti ॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Maa Bete Ka Hai Ish Jag Mein,</p>
                                <p>Bada Hi Nirmal Nata ।</p>
                                <p>Poot Kaput Sune Hai Par Na,</p>
                                <p>Mata Suni Kumata ॥</p>
                                <p>Sab Par Karuna Darshaney Wali,</p>
                                <p>Amrut Barsaney Wali</p>
                                <p>Dukhiyon Ke Dukhdae Nivarti ।</p>
                                <p>O Maiya, Hum Sab Utarey Teri Aarti ॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Nahi Maangtey Dhan Aur Daulat,</p>
                                <p>Na Chaandi Na Sona Maa ।</p>
                                <p>Hum To Maangey Maa Tere Man Mein,</p>
                                <p>Ek Chota Sa Kona ॥</p>
                                <p>Sabki Bigdi Banane Wali,</p>
                                <p>Laaj Bachane Wali,</p>
                                <p>Satiyo Ke Sat Ko Sanvarti ।</p>
                                <p>O Maiya, Hum Sab Utarey Teri Aarti ॥</p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}