{% extends "base.html" %}
{% load static %}
{% block meta %}

    <title>Aarti Krishna | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content=" Aarti Kunj Bihari Ki. Shri Girdhar Krishna Murari Ki. Krishna Ji ki Aarti. Lord Krishna's Aarti.">
    <meta name="keywords" content="Krishna , kanha, आरती, कृष्ण , Sharanyadham, Sharanya dham">
{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-krishna.png' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| श्री कृष्ण आरती ||</h3>

                            <p>आरती कुंजबिहारी की,</p>
                            <p>श्री गिरिधर कृष्ण मुरारी की ॥</p>
                            <p>आरती कुंजबिहारी की,</p>
                            <p>श्री गिरिधर कृष्ण मुरारी की ॥</p>
                            <p>
                                <br>
                            </p>
                            <p>गले में बैजंती माला,</p>
                            <p>बजावै मुरली मधुर बाला ।</p>
                            <p>श्रवण में कुण्डल झलकाला,</p>
                            <p>नंद के आनंद नंदलाला ।</p>
                            <p>गगन सम अंग कांति काली,</p>
                            <p>राधिका चमक रही आली ।</p>
                            <p>लतन में ठाढ़े बनमाली</p>
                            <p>भ्रमर सी अलक,</p>
                            <p>कस्तूरी तिलक,</p>
                            <p>चंद्र सी झलक,</p>
                            <p>ललित छवि श्यामा प्यारी की,</p>
                            <p>श्री गिरिधर कृष्ण मुरारी की ॥</p>
                            <p>॥ आरती कुंजबिहारी की...॥</p>
                            <p>
                                <br>
                            </p>
                            <p>कनकमय मोर मुकुट बिलसै,</p>
                            <p>देवता दरसन को तरसैं ।</p>
                            <p>गगन सों सुमन रासि बरसै ।</p>
                            <p>बजे मुरचंग,</p>
                            <p>मधुर मिरदंग,</p>
                            <p>ग्वालिन संग,</p>
                            <p>अतुल रति गोप कुमारी की,</p>
                            <p>श्री गिरिधर कृष्णमुरारी की ॥</p>
                            <p>॥ आरती कुंजबिहारी की...॥</p>
                            <p>
                                <br>
                            </p>
                            <p>जहां ते प्रकट भई गंगा,</p>
                            <p>सकल मन हारिणि श्री गंगा ।</p>
                            <p>स्मरन ते होत मोह भंगा</p>
                            <p>बसी शिव सीस,</p>
                            <p>जटा के बीच,</p>
                            <p>हरै अघ कीच,</p>
                            <p>चरन छवि श्रीबनवारी की,</p>
                            <p>श्री गिरिधर कृष्णमुरारी की ॥</p>
                            <p>॥ आरती कुंजबिहारी की...॥</p>
                            <p>
                                <br>
                            </p>
                            <p>चमकती उज्ज्वल तट रेनू,</p>
                            <p>बज रही वृंदावन बेनू ।</p>
                            <p>चहुं दिसि गोपि ग्वाल धेनू</p>
                            <p>हंसत मृदु मंद,</p>
                            <p>चांदनी चंद,</p>
                            <p>कटत भव फंद,</p>
                            <p>टेर सुन दीन दुखारी की,</p>
                            <p>श्री गिरिधर कृष्णमुरारी की ॥</p>
                            <p>॥ आरती कुंजबिहारी की...॥</p>
                            <p>
                                <br>
                            </p>
                            <p>आरती कुंजबिहारी की,</p>
                            <p>श्री गिरिधर कृष्ण मुरारी की ॥</p>
                            <p>आरती कुंजबिहारी की,</p>
                            <p>श्री गिरिधर कृष्ण मुरारी की ॥</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">||Krishna Aarti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Aarti Kunj Bihari Ki,&nbsp;</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>Aarti Kunj Bihari Ki,&nbsp;</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Gale Mein Baijanti Mala,</p>
                                <p>Bajave Murali Madhur Bala॥</p>
                                <p>Shravan Mein Kundal Jhalakala,</p>
                                <p>Nand Ke Anand Nandlala॥</p>
                                <p>Gagan Sam Ang Kanti Kali,</p>
                                <p>Radhika Chamak Rahi Aali॥</p>
                                <p>Latan Mein Thadhe Banamali,</p>
                                <p>Bhramar Si Alak,&nbsp;</p>
                                <p>Kasturi Tilak,</p>
                                <p>Chandra Si Jhalak॥</p>
                                <p>Lalit Chavi Shyama Pyari Ki॥</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>॥Aarti Kunj Bihari Ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>Kanakmay Mor Mukut Bilse,</p>
                                <p>Devata Darsan Ko Tarse।</p>
                                <p>Gagan So Suman Raasi Barse,</p>
                                <p>Baje Murchang,&nbsp;</p>
                                <p>Madhur Mridang,</p>
                                <p>Gwaalin Sang;</p>
                                <p>Atual Rati Gop Kumaari Ki॥</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>॥Aarti Kunj Bihari Ki॥</p>
                                <p>
                                    <br>
                                </p>
                                <p>Jahaan Te Pragat Bhayi Ganga,</p>
                                <p>Kalush Kali Haarini Shri Ganga।</p>
                                <p>Smaran Te Hot Moh Bhanga;</p>
                                <p>Basi Shiv Shish,&nbsp;</p>
                                <p>Jataa Ke Beech,</p>
                                <p>Harei Agh Keech;</p>
                                <p>Charan Chhavi Shri Banvaari Ki॥</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>Aarti Kunj Bihari Ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>Chamakati Ujjawal Tat Renu,</p>
                                <p>Baj Rahi Vrindavan Benu।</p>
                                <p>Chahu Disi Gopi Gwaal Dhenu;</p>
                                <p>Hansat Mridu Mand,&nbsp;</p>
                                <p>Chandani Chandra,</p>
                                <p>Katat Bhav Phand;</p>
                                <p>Ter Sun Deen Bhikhaaree Ki॥</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>Aarti Kunj Bihari Ki</p>
                                <p>
                                    <br>
                                </p>
                                <p>Aarti Kunj Bihari Ki,</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                                <p>Aarti Kunj Bihari Ki,</p>
                                <p>Shri Girdhar Krishna Murari Ki॥</p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}