    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Vishnuji | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Om jai jagadish hare, swami jai jagadish hare. Vishnu Ji ki Aarti. Lord Vishnu's Aarti.">
    <meta name="keywords" content="Vishnu, Vishnuji, आरती, विष्णु, Sharanyadham, Sharanya dham">
    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-vishnu.png' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="main-title">|| विष्णु जी आरती ||</h3>
                            <div class="blog-content">

                                <p>ॐ जय जगदीश हरे</p>
                                <p>स्वामी जय जगदीश हरे</p>
                                <p>भक्त जनों के संकट</p>
                                <p>दास जनों के संकट</p>
                                <p>क्षण में दूर करे</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>जो ध्यावे फल पावे</p>
                                <p>दुःखबिन से मन का</p>
                                <p>स्वामी दुःखबिन से मन का</p>
                                <p>सुख सम्पति घर आवे</p>
                                <p>सुख सम्पति घर आवे</p>
                                <p>कष्ट मिटे तन का</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>मात पिता तुम मेरे</p>
                                <p>शरण गहूं किसकी</p>
                                <p>स्वामी शरण गहूं मैं किसकी</p>
                                <p>तुम बिन और न दूजा</p>
                                <p>तुम बिन और न दूजा</p>
                                <p>आस करूं मैं जिसकी</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>तुम पूरण परमात्मा</p>
                                <p>तुम अन्तर्यामी</p>
                                <p>स्वामी तुम अन्तर्यामी</p>
                                <p>पारब्रह्म परमेश्वर</p>
                                <p>पारब्रह्म परमेश्वर</p>
                                <p>तुम सब के स्वामी</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>तुम करुणा के सागर</p>
                                <p>तुम पालनकर्ता</p>
                                <p>स्वामी तुम पालनकर्ता</p>
                                <p>मैं मूरख फलकामी</p>
                                <p>मैं सेवक तुम स्वामी</p>
                                <p>कृपा करो भर्ता</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>तुम हो एक अगोचर</p>
                                <p>सबके प्राणपति</p>
                                <p>स्वामी सबके प्राणपति</p>
                                <p>किस विधि मिलूं दयामय</p>
                                <p>किस विधि मिलूं दयामय</p>
                                <p>तुमको मैं कुमति</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>दीन-बन्धु दुःख-हर्ता</p>
                                <p>ठाकुर तुम मेरे</p>
                                <p>स्वामी रक्षक तुम मेरे</p>
                                <p>अपने हाथ उठाओ</p>
                                <p>अपने शरण लगाओ</p>
                                <p>द्वार पड़ा तेरे</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>
                                    <br>
                                </p>
                                <p>विषय-विकार मिटाओ</p>
                                <p>पाप हरो देवा</p>
                                <p>स्वमी पाप हरो देवा</p>
                                <p>श्रद्धा भक्ति बढ़ाओ</p>
                                <p>श्रद्धा भक्ति बढ़ाओ</p>
                                <p>सन्तन की सेवा</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>स्वामी जय जगदीश हरे</p>
                                <p>भक्त जनों के संकट</p>
                                <p>दास जनों के संकट</p>
                                <p>क्षण में दूर करे</p>
                                <p>ॐ जय जगदीश हरे</p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">|| Vishnu ji Arti ||</h3>
                            <div class="blog-content">
                                <p>Om jai jagadish hare</p>
                                <p>swami jai jagadish hare</p>
                                <p>bhakt jano ke sankat</p>
                                <p>daas jano ke sankat</p>
                                <p>kshan men door kare</p>
                                <p>om jai jagadish hare</p>
                                <p>jo dhyaave phal paave</p>
                                <p>dukh bin se man kaa</p>
                                <p>swami dukh bin se man kaa</p>
                                <p>sukh sampati ghar ave</p>
                                <p>sukh sampati ghar ave</p>
                                <p>kasht mite tan kaa</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>maat pita tum mere</p>
                                <p>sharan kahoon kiski</p>
                                <p>swami sharan kahoon kiski</p>
                                <p>tum bin aur na dooja</p>
                                <p>tum bin aur na dooja</p>
                                <p>aas karoon jiski</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>tum pooran paramatma</p>
                                <p>tum antaryami</p>
                                <p>swami tum antaryami</p>
                                <p>paar brahm parameshwar</p>
                                <p>paar brahm parameshwar</p>
                                <p>tum sabke swami</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>tum karuna ke saagar</p>
                                <p>tum paalan karta</p>
                                <p>swami tum paalan karta</p>
                                <p>main moorakh khalakhami</p>
                                <p>main sevak tum swami</p>
                                <p>kripa karo bharta</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>tum ho ek agochar</p>
                                <p>sab ke praan pati</p>
                                <p>swami sab ke praan pati</p>
                                <p>kis vidhi miloon dayamaya</p>
                                <p>kis vidhi miloon dayamaya</p>
                                <p>tum ko main kumati</p>
                                <p>om jai jagdish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>deen bandhu dukh harta</p>
                                <p>thaakur tum mere</p>
                                <p>swaami rakhshak tum mere</p>
                                <p>apne haath uthao</p>
                                <p>apni sharan lagao</p>
                                <p>dwaar padha tere</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>vishay vikaar mitaao</p>
                                <p>paap haro deva</p>
                                <p>swami paap haro deva</p>
                                <p>shradha bhakti badhao</p>
                                <p>shradha bhakti badhao</p>
                                <p>santan ki seva</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                                <p>om jai jagadish hare</p>
                                <p>swami jai jagadish hare</p>
                                <p>bhakt jano ke sankat</p>
                                <p>daas jano ke sankat</p>
                                <p>kshan men door kare</p>
                                <p>om jai jagadish hare</p>
                                <p>
                                    <br>
                                </p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}