    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Aarti Ram | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Shri Rama Chandra Kripalu Bhajuman, Haran Bhavbhay Darunam, ram arti, Lord ram's Aarti.">
    <meta name="keywords" content="ram, ramji, shree ram, आरती, रामचन्द्रजी, Sharanyadham, Sharanya dham">
    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <img src="{% static 'images/common/aarti-ram.jpg' %}">
                </div>

                <div class="center gap fade-down ">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="main-title">|| आरती श्री रामचन्द्रजी ||</h3>
                            <p>श्री रामचन्द्र कृपालु भजु मन, हरण भवभय दारुणम्।</p>
                            <p>नव कंज लोचन, कंज मुख कर कंज पद कंजारुणम्॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                            <p>कन्दर्प अगणित अमित छवि, नव नील नीरद सुन्दरम्।</p>
                            <p>पट पीत मानहुं तड़ित रूचि-शुचि नौमि जनक सुतावरम्॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                            <p>भजु दीनबंधु दिनेश दानव दैत्य वंश निकन्दनम्।</p>
                            <p>रघुनन्द आनन्द कन्द कौशल चन्द्र दशरथ नन्द्नम्॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                            <p>सिर मुकुट कुंडल तिलक चारू उदारु अंग विभूषणम्।</p>
                            <p>आजानुभुज शर चाप-धर, संग्राम जित खरदूषणम्॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                            <p>इति वदति तुलसीदास, शंकर शेष मुनि मन रंजनम्।</p>
                            <p>मम ह्रदय कंज निवास कुरु, कामादि खल दल गंजनम्॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                            <p>मन जाहि राचेऊ मिलहि सो वर सहज सुन्दर सांवरो।</p>
                            <p>करुणा निधान सुजान शील सनेह जानत रावरो॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                            <p>एहि भांति गौरी असीस सुन सिय हित हिय हरषित अली।</p>
                            <p>तुलसी भवानिहि पूजी पुनि-पुनि मुदित मन मन्दिर चली॥</p>
                            <p>श्री रामचन्द्र कृपालु भजु मन...।</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="main-title">||Shri Ram Aarti ||</h3>
                            <div class="blog-content">
                                <p style="font-family:courier; text-transform: lowercase;">

                                <p>Shri Rama Chandra Kripalu Bhajuman, Haran Bhavbhay Darunam।</p>
                                <p>Nav Kanj Lochan, kanj Mukh Kar Kanj Pad Kanjarunam॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                                <p>Kandarp Aganit Amit Chhavi, Nav Neel Neerad Sundaram।</p>
                                <p>Pat Peet Maanahu Tadit Ruchi-Shuchi Naumi Janak Sutavaram॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                                <p>Bhaju Deenbandhu Dinesh Danav Daitya Vansh Nikandanam।</p>
                                <p>Raghunand Anand Kand Kaushal Chandra Dasharath Nandanam॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                                <p>Shir Mukut Kundal Tilak Charu Udar Ang Vibhushanam।</p>
                                <p>Ajanubhuj Shar Chap-Dhar Sangram Jit Khardushnam॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                                <p>Iti Vadati Tulsidas, Shankar Shesh Muni Man Ranjanam।</p>
                                <p>Mam Hriday Kanj Nivas Kuru, Kaamadi Khal Dal Ganjanam॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                                <p>Man Jahi Raacheu Milahi So Var Sahaj Sundar Sanvaro।</p>
                                <p>Karuna Nidhaan Sujaan Sheel Saneh Janat Ravro॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                                <p>Aehi Bhanti Gauri Asis Sun Siy Hit Hiy Hiy Harshit Ali।</p>
                                <p>Tulsi Bhavanihi Poojee Puni Puni Mudit Man Mandir Chali॥</p>
                                <p>Shri Rama Chandra Kripalu Bhajuman...।</p>
                            </div>
                        </div>
                        <h3 class="main-title">आरती संग्रह</h3>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की आरती - Ganesh ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की आरती - Shani Dev Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की आरती - Shree Ram Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की आरती - Hanuman Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की आरती - krishna ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की आरती - Ramayan ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की आरती - Vishnu ji Aarti</a>
                                    </li>

                                    <li class="read-more-wrapper">
                                        <a href="aarti-shivji.html" class="btn btn-outlined btn-primary">शिव जी की आरती - Shiv ji Aarti</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul class="arrow">
                                    <li class="read-more-wrapper">
                                        <a href="aarti-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की आरती - Laxmi ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की आरती - Durga ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी आरती - Saraswati ji Aarti</a>
                                    </li>
                                    <li class="read-more-wrapper">
                                        <a href="aarti-kaliji.html" class="btn btn-outlined btn-primary">काली जी की आरती - Kali Ji Aarti</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
    {% endblock %}