
    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>About Us | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Sharanya Dham was also established when Shri Ram Badan Maurya, resident of Gola Bazar, Gorakhpur, felt that such a Navagraha temple should be established for the welfare of all, in which any person can conduct puja for devotion or for the fulfillment of any special work.">
    <meta name="keywords" content="About Us, Sharanyadham, Sharanya dham, Navagraha Temple, Navagraha, temple, Gola Bazar, Gorakhpur, spiritual, yoga, worship">
  

    {% endblock %}
    {% block content %}
    <div id="content-wrapper">
        <section id="about-us" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">हमारे विषय में</h2>
                        <hr>
                        <h4 class="main-title"> एक छोटा सा कदम॥ </h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p style="text-align: center;">ईश्वर कृपा से ही इस जगत में सभी कार्य सिद्ध होते हैं। शरण्य धाम की स्थापना भी तब हुई जब गोला बाज़ार गोरखपुर निवासी श्री राम बदन मौर्य को पे्र्ररणा हुई कि सभी के कल्याण के लिये ऐसे नवग्रह मंदिर की स्थापना होनी चाहिये जिसमें कोई भी व्यक्ति भक्ति हेतु अथवा किसी विशेष कार्य की पूर्ति के लिये पूजाआयोजन कर सके।</p>
                        <p style="text-align: center;">इसी प्रेरणा की परिणति शरण्य धाम के रूप में हुई। इस कार्य में श्री मौर्य की सहायता नोयडा में साफ्टवेयर के क्षे़त्र में कार्यरत उनके पुत्रा श्री देवेंद्र् नाथ मौर्य ने की।</p>
                        <p style="text-align: center;">नवग्रह मंदिर की स्थापना का उद्देश्य समाज के सभी वर्गों के लोगों को ऐसा स्थान उपलब्ध कराना है जहाँ वे अघ्यात्म, योग, ईश्वर तथा आध्यात्मिक विकास की चर्चा और प्रयास कर सकें। इसके साथ ही वे भक्तिभावना तथा कार्यसिद्धि के लिये नवग्रहों की उपासना कर सकें।</p>
                        <p style="text-align: center;">श्री राम बदन मौर्य ने मंदिर हेतु 1 बीघा अर्थात् 0.25 हेक्टेयर 2500 वर्ग मीटर दान में दी तथा पुत्र की सहायता से मंदिर का निर्माण आरम्भ कराया। श्री मौर्य ने पूरा प्रयास किया कि इस महती कार्य में धन की बाधा न आये।</p>
                        <h4 class="main-title" style="text-align: center;"> आप सबसे आग्रह है कि इस सद्कार्य की पूर्ति के लिये किसी भी रूप में हमारी सहायता करें। </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">About Us</h2>
                        <hr>
                        <h4 class="main-title"> A Small Step </h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p style="text-align: center;">All works in this world are proved by the grace of God. Sharanya Dham was also established when Shri Ram Badan Maurya, resident of Gola Bazar, Gorakhpur, felt that such a Navagraha temple should be established for the welfare of all, in which any person can conduct puja for devotion or for the fulfillment of any special work.</p>
                        <p style="text-align: center;">This inspiration culminated in the form of Sharanya Dham. In this work, Mr. Maurya was assisted by his son Mr. Devendra Nath Maurya, working in the software sector in Noida.</p>
                        <p style="text-align: center;">The aim of establishing the Navagraha Temple is to provide such a place to people from all sections of the society where they can discuss and strive for spirituality, yoga, God and spiritual development. Along with this, they can worship the Navagrahas for devotion and accomplishment.</p>
                        <p style="text-align: center;">Shri Ram Badan Maurya donated 1 bigha ie 0.25 hectares to 2500 square meters for the temple and started the construction of the temple with the help of his son. Shri Maurya tried his utmost not to obstruct money in this monumental work.</p>
                        <h4 class="main-title" style="text-align: center;"> You are most requested to help us in any way to fulfill this good work. </h4>
                    </div>
                </div>

            </div>
        </section>
    </div>
    {% endblock %}