{% extends "base.html" %}
{% load static %}
{% block meta %}

<title>Shri Ganesh Chalisa In Hindi and English | शरण्य धाम</title>
<!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
<meta name="description" content="Pooja is essentially a ritual or ceremonial worship, in which offerings are made with devotion to earn love and blessings from God.">
<meta name="keywords" content="Hinduism,Arti, Mantra, Chalisa, God, Sharanyadham,worship , Sharanya dham, Mandir, temple">

{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <section id="Chalisa" class="white">
            <div class="container">

                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">चालीसा</h2>
                    <img src="{%static 'images/common/aarti.jpg' %}">
                </div>
                <div class="center gap fade-down section-heading">
                    <h3 class="main-title">चालीसा संग्रह</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-ganeshji.html" class="btn btn-outlined btn-primary">गणेश जी की चालीसा - Ganesh ji Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-shanidev.html" class="btn btn-outlined btn-primary">शनिदेव जी की चालीसा - Shani Dev Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-ramji.html" class="btn btn-outlined btn-primary">रामचन्द्र जी की चालीसा - Shree Ram Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-hanumanji.html" class="btn btn-outlined btn-primary">हनुमान जी की चालीसा - Hanuman Ji Chalisa</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-krishna.html" class="btn btn-outlined btn-primary">कृष्ण जी की चालीसा - krishna ji Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-ramayanji.html" class="btn btn-outlined btn-primary">रामायण जी की चालीसा - Ramayan ji Chalisa</a>
                                </li>

                                <li class="read-more-wrapper">
                                    <a href="Chalisa-vishnuji.html" class="btn btn-outlined btn-primary">विष्णु जी की चालीसा - Vishnu ji Chalisa</a>
                                </li>

                                <li class="read-more-wrapper">
                                    <a href="Chalisa-shivji.html" class="btn btn-outlined btn-primary">शिव जी की चालीसा - Shiv ji Chalisa</a>
                                </li>

                            </ul>
</div>
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-laxmiji.html" class="btn btn-outlined btn-primary">लक्ष्मी जी की चालीसा - Laxmi ji Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-durgaji.html" class="btn btn-outlined btn-primary">दुर्गा जी की चालीसा - Durga ji Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-Saraswatiji.html" class="btn btn-outlined btn-primary">सरस्वती जी चालीसा - Saraswati ji Chalisa</a>
                                </li>
                                <li class="read-more-wrapper">
                                    <a href="Chalisa-kaliji.html" class="btn btn-outlined btn-primary">काली जी की चालीसा - Kali Ji Chalisa</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.categories-->

                <div class="row">
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p>
                            चालीसा हिन्दू उपासना की एक विधि है। इसमें जलती हुई लौ या इसके समान कुछ खास वस्तुओं से आराध्य के सामाने एक विशेष विधि से घुमाई जाती है। ये लौ घी या तेल के दीये की हो सकती है या कपूर की। इसमें वैकल्पिक रूप से, घी, धूप तथा सुगंधित पदार्थों को भी मिलाया जाता है। कई बार इसके साथ संगीत (भजन) तथा नृत्य भी होता है। मंदिरों में इसे प्रातः, सांय एवं रात्रि (शयन) में द्वार के बंद होने से पहले किया जाता है। प्राचीन काल में यह व्यापक पैमाने पर प्रयोग किया जाता था। तमिल भाषा में इसे दीप आराधनई कहते हैं।
                        </p>
                        <p>
                            सामान्यतः पूजा के अंत में आराध्य भगवान की चालीसा करते हैं। चालीसा में कई सामग्रियों का प्रयोग किया जाता है। इन सबका विशेष अर्थ होता है। ऐसी मान्यता है कि न केवल चालीसा करने, बल्कि इसमें सम्मिलित होने पर भी बहुत पुण्य मिलता है। किसी भी देवता की चालीसा करते समय उन्हें तीन बार पुष्प अर्पित करने चाहियें। इस बीच ढोल, नगाडे, घड़ियाल आदि भी बजाये जाते हैं।
                        </p>
                    </div>

                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p>Chalisa is a method of Hindu worship. It is rotated in a special way in front of the adorable with a burning flame or some special items similar to it. This flame can be of ghee or oil lamp or camphor. Alternatively, ghee, incense and aromatic substances are also added. Many times it is accompanied by music (bhajan) and dance. In temples, it is done in the morning, evening and night (sleeping) before the door is closed. It was widely used in ancient times. In Tamil language it is called Deep Aradhanai.</p>
                        <p>Generally, at the end of the worship, the Chalisa is performed by the adorable God. Many materials are used in Chalisa. They all have special meaning. It is believed that not only performing Chalisa, but also getting involved in it gives great merit. While performing the Chalisa of any deity, they should offer flowers thrice. Meanwhile, drums, nagade, gharial etc. are also played.</p>
                    </div>

                </div>

            </div>
        </section>
    </div>
{% endblock %}