
    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title> शरण्य धाम | Sharanyadham Shani Mandir Gola Gorakhpur UP</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
   <meta name="description" content="Sharanyadham is a Shani Mandir and Naugrah Mandir located in Gola, Gorakhpur, UP. This temple is the confluence center for all the devotees who wish to worship any particular planet or all the nine schemes with the desire of any kind of welfare.">
   <meta name="keywords" content="Sharanyadham, Sharanya dham, Mandir, temple, Navagraha , Naugrah Mandir, Shani Mandir Gola, Shani Mandir Gorakhpur, Hindu, Hindu mythology">    


    {% endblock %}
    {% block content %}
   

    <div id="content-wrapper">
        <section id="portfolio" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">सक्रिय कार्य</h2>
                    <hr>
                    <p>
                        परमेश्वर की कृपा तथा आपकी सहायता से
                    </p>
                </div>

                <ul class="portfolio-items col-3 isotope fade-up">
                    <li class="portfolio-item apps isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/3drender/1.png' %}" alt="">
                            <h5>Final Designs</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'final_design' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/bhomiPoojan/1.jpeg' %}" alt="">
                            <h5>Bhoomi Poojan</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'bhoomi_poojan' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage10/preview.jpeg' %}" alt="">
                            <h5>Stage10</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage10' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage9/3.jpeg' %}" alt="">
                            <h5>Stage9</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage9' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage8/1.jpeg' %}" alt="">
                            <h5>Stage8</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage8' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage7/1.jpeg' %}" alt="">
                            <h5>Stage7</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage7' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item joomla nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage6/1.jpeg' %}" alt="">
                            <h5>Stage6</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage6' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage5/2.jpeg' %}" alt="">
                            <h5>Stage5</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage5' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage4/1.jpeg' %}" alt="">
                            <h5>Stage4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage4' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->


                    <li class="portfolio-item joomla apps isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage3/1.jpeg' %}" alt="">
                            <h5>Stage3</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage3' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item bootstrap design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage2/5.jpeg' %}" alt="">
                            <h5>Stage2</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage2' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item bootstrap design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage1/5.jpeg' %}" alt="">
                            <h5>Stage1</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage1' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                </ul>
            </div>     
        </section>
    </div>

    
    {% endblock %}