    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Gods | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="The Supreme Personality that has all the wealth, all the power, all the fame, all the beauty, all the knowledge and all the renunciation.">
    <meta name="keywords" content="Bramha, Shiv, Vishnu, Ganesh, Krishna, Ram, Shree Krishna, Sharanyadham">

    {% endblock %}
    {% block content %}
   


    <div id="content-wrapper">
        <section id="blog" class="white">
            <div class="container">
                <div class="center gap fade-down section-heading">
                    <div class="gap"></div>
                    <h2 class="main-title">परमेश्वर</h2>
                    <hr>
                    <p>सर्वोच्च व्यक्तित्व जिसमें सभी धन, सारी शक्ति, सभी प्रसिद्धि, सभी सुंदरता, सभी ज्ञान और सभी त्याग हैं।</p>
                    <p style="font-family:courier; text-transform:none;">
                        The Supreme Personality that has all the wealth, all the power, all the fame, all the beauty, all the knowledge and all the renunciation.
                    </p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\god\bramha\preview.jpg' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3>ब्रह्मा </h3>
                                <div>
                                    ब्रह्मा(Bramha) हिंदू धर्म में निर्माता देवता हैं। उन्हें स्वयंभू (स्व-जन्म) या विष्णु के रचनात्मक पहलू, वागिदा (भाषण के भगवान) और चार वेदों के निर्माता के रूप में भी जाना जाता है, उनके प्रत्येक मुंह से एक। 
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\god\shiv\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> शिव </h3>
                                    <div>
                                        शिव(Shiv) को त्रिमूर्ति के भीतर "विनाशक" के रूप में जाना जाता है, हिंदू त्रिमूर्ति जिसमें ब्रह्मा और विष्णु शामिल हैं। शैव धर्म परंपरा में, शिव उन सर्वोच्च प्राणियों में से एक हैं जो ब्रह्मांड की रचना, रक्षा और परिवर्तन करते हैं। शक्तिवाद परंपरा में, देवी या देवी को सर्वोच्च में से एक के रूप में वर्णित किया गया है, फिर भी शिव विष्णु और ब्रह्मा के साथ प्रतिष्ठित हैं।
                                    </div>
                                    <div class="read-more-wrapper">
                                        <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\god\vishnu\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> विष्णु </h3>
                                <div>
                                    विष्णु(Vishnu) निराकार आध्यात्मिक अवधारणा के समान है जिसे ब्राह्मण कहा जाता है, सर्वोच्च, श्याम भगवान, जो विभिन्न अवतारों को "संरक्षक, रक्षक" के रूप में लेते हैं जब भी दुनिया में बुराई, अराजकता और विनाशकारी शक्तियों का खतरा होता है।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\god\ganesh\preview.jpg' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3>गणेश </h3>
                                <div>
                                    गणेश(Ganesh) को गणपति, विनायक या कई अन्य नामों से भी जाना जाता है, जो हिंदू धर्म में सबसे प्रसिद्ध और सबसे अधिक पूजे जाने वाले देवताओं में से एक है।
                                    गणेश को व्यापक रूप से बाधाओं का हटाने वाला, कला और विज्ञान का संरक्षक और बुद्धि और ज्ञान का देवता माना जाता है।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\god\ram\preview.jpg' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> राम </h3>
                                <div>
                                    वह भगवान विष्णु के सातवें अवतार हैं, जो कृष्ण(Krishna) और गौतम बुद्ध के साथ उनके सबसे लोकप्रिय अवतारों में से एक हैं। हिंदू धर्म की राम-केंद्रित परंपराओं में, उन्हें सर्वोच्च माना जाता है। राम(Ram) का जन्म कौशल्या और दशरथ के साथ अयोध्या में हुआ था, जो कोसल राज्य के शासक थे।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\god\krishna\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> कृष्ण </h3>
                                <div>
                                    श्रीकृष्ण भगवद् गीता के केंद्रीय व्यक्ति हैं। श्रीकृष्ण(Shree Krishna) को हिंदुओं द्वारा व्यापक रूप से एक अवतार माना जाता है - भगवान का प्रत्यक्ष वंश। कुरुक्षेत्र के युद्ध के दौरान, कृष्ण ने अर्जुन को भगवद गीता का अमर आध्यात्मिक प्रवचन दिया
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}