<!DOCTYPE html>
    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Goddess | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="The Supreme Personality that has all the wealth, all the power, all the fame, all the beauty, all the knowledge and all the renunciation.">
    <meta name="keywords" content="Saraswati, Laxmi, Parvati, Uma, Gauri, Durga, Kali, Radha, Radhika, Radhey, Sharanyadham">

    {% endblock %}
    {% block content %}
   

    <div id="content-wrapper">
        <section id="blog" class="white">
            <div class="container">
                <div class="center gap fade-down section-heading">
                    <div class="gap"></div>
                    <h2 class="main-title"> देवी </h2>
                    <hr>
                    <p>सर्वोच्च व्यक्तित्व जिसमें सभी धन, सारी शक्ति, सभी प्रसिद्धि, सभी सुंदरता, सभी ज्ञान और सभी त्याग हैं।</p>
                    <p style="font-family:courier; text-transform:none;">
                        The Supreme Personality that has all the wealth, all the power, all the fame, all the beauty, all the knowledge and all the renunciation.
                    </p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\goddess\saraswati\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3>सरस्वती </h3>
                                <div>
                                    सरस्वती(Saraswati) ज्ञान, संगीत, कला, ज्ञान और सीखने की हिंदू देवी हैं। वह सरस्वती, लक्ष्मी(Laxmi) और पार्वती(Parvati) की त्रिमूर्ति (त्रिदेवी) का एक हिस्सा है। तीनों रूप क्रमशः ब्रह्मा, विष्णु और शिव की त्रिमूर्ति को ब्रह्माण्ड को बनाने, बनाए रखने और पुनर्जीवित करने में मदद करते हैं।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\goddess\parvati\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> पार्वती </h3>
                                <div>
                                    पार्वती(Parvati), उमा(Uma) या गौरी(Gauri) उर्वरता, प्रेम, सौंदर्य, विवाह, बच्चों और भक्ति की हिंदू देवी हैं; साथ ही साथ दैवीय शक्ति और शक्ति। कई अन्य नामों से जाना जाता है, वह सर्वोच्च हिंदू देवी आदि पराशक्ति का कोमल और पौष्टिक पहलू है और देवी-उन्मुख शक्ति संप्रदाय के केंद्रीय देवताओं में से एक है।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\goddess\lakshmi\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> लक्ष्मी </h3>
                                <div>
                                    लक्ष्मी(Laxmi) धन, भाग्य और समृद्धि की हिंदू देवी हैं। वह हिंदू धर्म के प्रमुख देवताओं और वैष्णव परंपरा में सर्वोच्च देवता विष्णु की पत्नी और शाक्ति (ऊर्जा) हैं।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\goddess\durga\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> दुर्गा </h3>
                                <div>
                                    दुर्गा(Durga) की पहचान आदिशक्ति के रूप में की जाती है, जो हिंदू देवी का एक प्रमुख और लोकप्रिय रूप है। वह युद्ध की देवी है, पार्वती का योद्धा रूप, जिसकी पौराणिक कथाएं बुराईयों और शैतानी ताकतों का मुकाबला करने के आसपास हैं जो शांति, समृद्धि और धर्म को खतरे में डालती हैं।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\goddess\kali\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> काली </h3>
                                <div>
                                    काली(Kali) को कलिका के नाम से भी जाना जाता है, एक हिंदू देवी हैं। काली उन दस महाविद्याओं में से एक हैं, जो एक सूची है, जो सकट और बौद्ध देवी-देवताओं को जोड़ती है। काली की जल्द से जल्द उपस्थिति, बुरी शक्तियों को नष्ट करने वाली है। वह शक्ति का सबसे शक्तिशाली रूप है।
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="post">
                            <div class="post-img-content">
                                <img src="{% static 'sharanya_main\images\goddess\radha\preview.png' %}" class="img-responsive" />
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="content">
                                <h3> राधा </h3>
                                <div>
                                    राधा(Radha) को राधिका(Radhika), राधारानी, ​​राधे(Radhey), श्यामा और प्रिया भी कहा जाता है, हिंदू धर्म में लोकप्रिय एक हिंदू देवी है,
                                    उन्हें दूध गोपियों का प्रमुख कहा जाता है, प्रधान गोपिका (सभी गोपियों में प्रमुख)
                                    जो ब्रज धाम में निवास करती थीं। वह देवत्व परा ब्रह्म के सर्वोच्च व्यक्तित्व की शक्ति शक्ति हैं
                                </div>
                                <div class="read-more-wrapper">
                                    <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% endblock %}