    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title> शरण्य धाम | Sharanyadham Shani Mandir Gola Gorakhpur UP</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
   <meta name="description" content="Sharanyadham is a Shani Mandir and Naugrah Mandir located in Gola, Gorakhpur, UP. This temple is the confluence center for all the devotees who wish to worship any particular planet or all the nine schemes with the desire of any kind of welfare.">
   <meta name="keywords" content="Sharanyadham, Sharanya dham, Mandir, temple, Navagraha , Naugrah Mandir, Shani Mandir Gola, Shani Mandir Gorakhpur, Hindu, Hindu mythology">    


    {% endblock %}
    {% block content %}
    <section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <img src="{% static 'sharanya_main/images/logo/Logo_96x96.png' %}" width="96" height="96" class="d-inline-block align-top" alt="Image"><br>
                                    <h2 class="boxed animation animated-item-1 fade-down">शरण्य धाम</h2>
                                    <br>
                                    <p class="boxed animation animated-item-2 fade-up">ॐ असतो मा सद्गमय ।<br>तमसो मा ज्योतिर्गमय ।  <br>मृत्योर्मा अमृतं गमय ।  <br>ॐ शान्तिः शान्तिः शान्तिः ॥</p>
                                    <br>
                                    <a class="btn btn-md animation bounce-in" href="{% url 'aboutus' %}">अधिक जानें</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">

        <section id="about-us" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title"> शरण्य धाम </h2>
                            <hr>
                            <h4 class="main-title"> धर्म के विचारों और विश्वासों को व्यक्त करने के लिए प्रतीकवाद॥ </h4>
                            <h2 class="main-title"> नवग्रह मंदिर </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p> गोरखपुर की पावन धरा में स्थित यह नवग्रह मंदिर वैदिक ज्योतिष में उल्लेखित नौ ग्रहों का आसन है। ये ग्रह हैं सूर्य (सन), चंद्र (मून), मंगल (मार्स), बुध (मरकरी), बृहस्पति (जूपीटर), शुक्र (वीनस), शनि (सैटर्न), राहु (नार्थ लूनर नोड) और केतु (साउथ लूनर नोड)। यह भारत के उन गिने चुने स्थानों में से एक है जहाँ सभी ग्रह एक साथ विराजते हैं। गोरक्षधाम की भूमि पर स्थित नवग्रह मंदिर उसी परम्परा में एक कड़ी है।</p>
                        <p>
                            यह मंदिर उन सभी भक्तों का समागम केंद्र है जो किसी भी तरह के कल्याण की कामना से किसी विशेष ग्रह या सभी नौ ग्रहों की उपासना करना चाहते हैं। नवग्रह गर्भग्रह के निकट ही प्रमुख हिंदू देवी-देवता भी विद्यमान हैं। यहाँ हर प्रकार के यज्ञ-पाठ की पूरी सुविधा है।
                            भक्त गोरखपुर नगर से इस मंदिर तक सरलता से सड़क मार्ग से पहुँच सकते हैं।
                        </p>
                    </div>
                </div>
                <div class="center gap fade-down section-heading">
                    <h4 class="main-title"> Symbolism to express the thoughts and beliefs of religion.</h4>
                    <h2 class="main-title"> Shani Mandir </h2>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p> Sharanyadham is a Mandir steeped with Hindu mythology linking it to Shani Dev along with Naugrah and other God and Goddesses. Sharanyadham is located in the town named Gola of the disctrict Gorakhpur from the state of Uttar Pradesh.</p>
                        <p>
                            This temple is the confluence center for all the devotees who wish to worship any particular planet or all the nine schemes with the desire of any kind of welfare. The major Hindu deities are also present near the Navagraha Garbhagraha. There is complete facility of every type of Yaga recitation here.
                            Devotees can easily reach this temple from Gorakhpur city by road.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="portfolio" class="white">
            <div class="container">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">सक्रिय कार्य</h2>
                    <hr>
                    <p>परमेश्वर की कृपा तथा आपकी सहायता से</p>
                </div>

                <ul class="portfolio-items col-3 isotope fade-up">
                    <li class="portfolio-item apps isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/3drender/1.png' %}" alt="Image">
                            <h5>Computer Designs</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'final_design' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/bhomiPoojan/1.jpeg' %}" alt="">
                            <h5>Bhoomi Poojan</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'bhoomi_poojan' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage10/preview.jpeg' %}" alt="">
                            <h5>Stage10</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage10' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage9/3.jpeg' %}" alt="">
                            <h5>Stage9</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage9' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage8/1.jpeg' %}" alt="">
                            <h5>Stage8</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage8' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage7/1.jpeg' %}" alt="">
                            <h5>Stage7</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage7' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    
                    <li class="portfolio-item joomla nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage6/1.jpeg' %}" alt="">
                            <h5>Stage6</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage6' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage5/2.jpeg' %}" alt="">
                            <h5>Stage5</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage5' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item wordpress nature isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage4/1.jpeg' %}" alt="">
                            <h5>Stage4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage4' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->


                    <li class="portfolio-item joomla apps isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage3/1.jpeg' %}" alt="">
                            <h5>Stage3</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage3' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item bootstrap design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage2/5.jpeg' %}" alt="">
                            <h5>Stage2</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage2' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->

                    <li class="portfolio-item bootstrap design isotope-item">
                        <div class="item-inner">
                            <img src="{% static 'sharanya_main/images/ActiveProject/Stage1/5.jpeg' %}" alt="">
                            <h5>Stage1</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{% url 'stage1' %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                </ul>
            </div>
        </section>
    </div>

    
    {% endblock %}