{% extends "base.html" %}
{% load static %}
{% block meta %}

<title>Shri Ganesh Chalisa In Hindi and English | शरण्य धाम</title>
<!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
<meta name="description" content="Pooja is essentially a ritual or ceremonial worship, in which offerings are made with devotion to earn love and blessings from God.">
<meta name="keywords" content="Hinduism,Arti, Mantra, Chalisa, God, Sharanyadham,worship , Sharanya dham, Mandir, temple">

{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <section id="aarti" class="white">
            <div class="container">

                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">मंत्र</h2>
                    <img src="{%static 'images/common/mantra.jpg' %}">
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 fade-up">
                        <p>
                            मंत्र शब्दों का संचय होता है, जिससे इष्ट को प्राप्त कर सकते हैं और अनिष्ट बाधाओं को नष्ट कर सकते हैं । मंत्र इस शब्द में ‘मन्’ का तात्पर्य मन और मनन से है और ‘त्र’ का तात्पर्य शक्ति और रक्षा से है । अगले स्तर पर मंत्र अर्थात जिसके मनन से व्यक्ति का विकास हो।
                        </p>
                    </div>
                </div>
                <div class="center gap fade-down section-heading">
                    <h3 class="main-title">मंत्र संग्रह</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li><a href="mantra-ganeshji.html">गणेश जी के मंत्र</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li><a href="#">लक्ष्मी जी के मंत्र</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <ul class="arrow">
                                <li><a href="#">दुर्गा जी के मंत्र</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.categories-->
            </div>
        </section>
    </div>
{% endblock %}