    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Naugrahs | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Navagrahas affect our lives at all levels. According to Indian astrology, each planet has a special behavior. Astrology also considers the Sun to be a planet. Rahu and Ketu are shadow. Indian astrology does not take Neptune and Pluto into account, although western astrology also gives them planetary status.">
    <meta name="keywords" content="Navagrah, Surya, Sun, Chandra , Moon, Budh, Mercury , Shukra, Venus, Mangal ,Mars ,Shani ,Brihaspati ,Rahu ,Ketu , Jupiter , Sharanyadham">
   
    {% endblock %}
    {% block content %}
   
    <div id="content-wrapper">
        <section id="portfolio" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">
                        नवग्रह
                    </h2>
                    <hr>
                    <p>
                        नवग्रह हमारे जीवन को हर स्तर पर प्रभावित करते हैं। भारतीय ज्योतिष के अनुसार प्रत्येक ग्रह का एक विशेष व्यवहार है। सूर्य को भी ज्योतिष विज्ञान एक ग्रह ही मानता हैै। राहु तथा केतु छायाग्रह हैं। नेपच्यून तथा प्लूटो को भारतीय ज्योतिष संज्ञान में नहीं लेता है यद्यपि पाश्चात्य ज्योतिष इन्हें भी ग्रह का दर्जा देता है। आपने राशियों के विषय में सुना होगा, इनका स्वामित्व किसी न किसी ग्रह के पास ही होता है।
                    </p>

                    <h3>सूर्य</h3>

                    <p>
                        सूर्य मुख्यतः व्यक्ति की आत्मा का प्रतिनिधित्व करता है। इसके अतिरिक्त सूर्य पिता और शासन का भी द्योतक है।
                    </p>

                    <h3> चंद्र </h3>

                    <p>
                        चंद्र व्यक्ति के मन को दर्शाता है। इसके अतिरिक्त चंद्र व्यक्ति की माँ तथा कलात्मक क्षमता का भी द्योतक है।
                    </p>
                    <h3> बुध</h3>
                    <p>
                        बुध व्यक्ति की तार्किक क्षमता तथा याद करने की शक्ति का प्रतीक है।
                    </p>

                    <h3> शुक्र </h3>

                    <p>
                        शुक्र सुख-सुविधा के साधनों का परिचायक है।
                    </p>

                    <h3> मंगल </h3>
                    <p>
                        मंगल व्यक्ति की आंतरिक ऊर्जा है। किसी उद्ेश्य की प्राप्ति के लिये आप जो इच्छाशक्ति तथा साहस का प्रदर्शन करते हैं उसके पीछे मंगल ही है।
                    </p>

                    <h3> शनि </h3>
                    <p>
                        मनुष्य को यथार्थ के धरातल पर रखने का कार्य शनि देव का है। व्यक्ति जब कठिनाइयों के दौर से गुजरता है तब भी कुछ सीखता ही है।
                    </p>
                    <h3>  बृहस्पति </h3>
                    <p>
                        बृहस्पति आपकी ज्ञान शक्ति का प्रतीक है। आप जो सही-गलत का निर्णय कर पाते हैं, वह बहृस्पति ही है।
                    </p>

                    <h3>   राहु </h3>
                    <p>
                        राहु व्यक्ति की लालसा को बढ़ा देता है। जन्मकुंडली में अपनी स्थिति के अनुसार राहु कभी व्यक्ति को भोजन का अत्यधिक शौकीन बना देता है, कभी सुख-सुविधा के साधनों का तो कभी वह जीवनसाथी के साथ हर समय रहना चाहता है।
                    </p>
                    <h3>  केतु </h3>
                    <p>
                        केतु को मोक्षकारक ग्रह कहा जाता है। कुंडली में यह जिस स्थान पर विद्यमान होता है, उसके लिये विरक्ति उत्पन्न कर देता है।
                    </p>

                    <h2 class="main-title">
                        Navagrah
                    </h2>
                    <hr>
                    <p style="font-family:courier; text-transform:none;">
                        Navagrahas affect our lives at all levels. According to Indian astrology, each planet has a special behavior. Astrology also considers the Sun to be a planet. Rahu and Ketu are shadow. Indian astrology does not take Neptune and Pluto into account, although western astrology also gives them planetary status. You must have heard about zodiac signs, they are owned by some other planet.
                    </p>

                    <h3>Surya</h3>

                    <p style="font-family:courier; text-transform:none;">
                        The sun primarily represents the soul of a person. Apart from this, Sun also signifies father and rule.
                    </p>

                    <h3> Chandra </h3>

                    <p style="font-family:courier; text-transform:none;">
                        The Moon signifies a person's mind. In addition, the Moon signifies the mother and artistic ability of the person.
                    </p>
                    <h3> Budh</h3>
                    <p style="font-family:courier; text-transform:none;">
                        Mercury is a symbol of a person's logical ability and remembering power.
                    </p>

                    <h3> Shukra</h3>

                    <p style="font-family:courier; text-transform:none;">
                        Venus signifies the means of comfort.
                    </p>

                    <h3> Mangal </h3>
                    <p style="font-family:courier; text-transform:none;">
                        Mars is a person's internal energy. Mars is behind the willpower and courage you display for achieving any purpose.
                    </p>

                    <h3> Shani </h3>
                    <p style="font-family:courier; text-transform:none;">
                        The task of placing man on the surface of reality is that of Shani Dev. When a person goes through difficulties, he still learns something.
                    </p>
                    <h3>  Brihaspati </h3>
                    <p style="font-family:courier; text-transform:none;">
                        Jupiter is a symbol of your knowledge power. Whatever you are able to decide right and wrong, it is only Brihaspati.
                    </p>

                    <h3> Rahu </h3>
                    <p style="font-family:courier; text-transform:none;">
                        Rahu increases a person's longing. According to his position in the horoscope, Rahu sometimes makes a person very fond of food, sometimes means of comfort and sometimes he wants to be with his spouse all the time.
                    </p>
                    <h3>  Ketu </h3>
                    <p style="font-family:courier; text-transform:none;">
                        Ketu is called the salvation planet. It creates disgust for the place where it is present in the horoscope.
                    </p>

                </div>
            </div>
        </section>
    </div>

    {% endblock %}