    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>रामचरितमानस | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="Ramcharitmanas is an epic poem in the Awadhi dialect of Hindi, composed by the 16th-century Indian devotional poet Goswami Tulsidas">
    <meta name="keywords" content="Ramcharitmanas , Awadhi , Vedas, Upanishads , Puranas, Rama, Sanskrit, Sharanyadham">

    {% endblock %}
    {% block content %}
   

    <div id="content-wrapper">
        <section id="portfolio" class="white">
       		<div class="container">
	        	<div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">
                        रामचरितमानस
                    </h2>
                    <hr>
                    <p>
                        रामचरितमानस हिंदी की अवधी बोली में एक महाकाव्य कविता है, जो 16 वीं शताब्दी के भारतीय भक्ति कवि गोस्वामी तुलसीदास (सी। 1532–1623) द्वारा रचित है। रामचरितमानस का शाब्दिक अर्थ है "राम के कर्मों की झील"। रामचरितमानस को हिंदी साहित्य की सबसे महान कृतियों में से एक माना जाता है। काम को "भारतीय संस्कृति के जीवंत योग", "मध्यकालीन भारतीय कविता के जादू के बगीचे में सबसे ऊंचा पेड़", "सभी भक्ति साहित्य की सबसे बड़ी पुस्तक" और "लोकप्रिय के लिए सबसे अच्छा और सबसे भरोसेमंद मार्गदर्शक" के रूप में प्रशंसित किया गया है। भारतीय लोगों का जीवित विश्वास "।
                    </p>

                    <p>
                        तुलसीदास (तुलसीदास के संस्कृत नाम को दो तरीकों से अनुवादित किया जा सकता है। IAST लिप्यंतरण योजना का उपयोग करते हुए, नाम को तुलसीदास के रूप में लिखा जाता है। संस्कृत में हंटरियन लिप्यंतरण योजना का उपयोग करते हुए, इसे तुलसीदास या तुलसीदास के रूप में लिखा जाता है।) )। तुलसीदास संस्कृत के महान विद्वान थे। हालाँकि, वह चाहते थे कि राम की कहानी आम जनता के लिए सुलभ हो, न कि केवल संस्कृत भाषी अभिजात वर्ग के लिए। राम की कहानी को विद्वान के रूप में आम आदमी के लिए सुलभ बनाने के लिए, तुलसीदास ने अवधी में लिखना पसंद किया, जो उस समय उत्तर भारत के बड़े हिस्सों में सामान्य भाषा की भाषा थी। परंपरा यह है कि तुलसीदास को वाराणसी के संस्कृत विद्वानों की ओर से भाष्य (शाब्दिक) होने के कारण बहुत आलोचना का सामना करना पड़ा था। हालांकि, तुलसीदास वेदों, उपनिषदों और पुराणों में निहित ज्ञान को सरल बनाने के अपने संकल्प में दृढ़ बने रहे। इसके बाद, उनके काम को सभी ने स्वीकार कर लिया।
                    </p>
                    <p>
                        रामचरितमानस, राम द्वारा आम आदमी को गाने, ध्यान करने और प्रदर्शन करने के लिए उपलब्ध कराया गया। विडंबना यह है कि जब उन्होंने इसे लिखा, तो तुलसी को हिंदू कट्टरपंथियों (तब स्थानीय पुजारियों द्वारा प्रतिनिधित्व किया गया) द्वारा संस्कृत में लिखे गए एक महाकाव्य को "भ्रष्ट" करने के लिए उकसाया गया था। रामचरितमानस के लेखन ने कई सांस्कृतिक परंपरा को भी समाहित किया, सबसे महत्वपूर्ण है कि रामलीला की परंपरा, पाठ का नाटकीय विधान। रामचरितमानस को कई लोग हिंदी साहित्य में भक्ति आंदोलन के सगुण विद्यालय से संबंधित मानते हैं।
                    </p>

                    <h2 class="main-title">
                        Ramcharitmanas
                    </h2>
                    <hr>
                    <p style="font-family:courier; text-transform:none;">
                        Ramcharitmanas is an epic poem in the Awadhi dialect of Hindi, composed by the 16th-century Indian devotional poet Goswami Tulsidas (c. 1532–1623). Ramacharitmanas literally means "lake of Rama's deeds". Ramcharitmanas is considered one of the greatest works of Hindi literature. The work was acclaimed as the "lively yoga of Indian culture", "the tallest tree in the magic garden of medieval Indian poetry", "the greatest book of all devotional literature" and "the best and most trusted guide to the popular". has gone. The Living Faith of the Indian People ".
                    </p>

                    <p style="font-family:courier; text-transform:none;">
                        Tulsidas (The Sanskrit name of Tulsidas can be translated in two ways. Using the IAST transliteration scheme, the name is spelled as Tulsidas. In Sanskrit using the Hunterian transliteration scheme, it is referred to as Tulsidas or Tulsidas Is written in.)). Tulsidas was a great Sanskrit scholar. However, he wanted the story of Rama to be accessible to the general public and not just to the Sanskrit-speaking elite. To make Rama's story accessible to the common man as a scholar, Tulsidas preferred to write in Awadhi, which at that time was the common language language in large parts of North India.Tradition has it that Tulsidas faced a lot of criticism from Sanskrit scholars of Varanasi for being Bhashya (literally). However, Tulsidas remained steadfast in his resolve to simplify the knowledge contained in the Vedas, Upanishads and Puranas. After this, his work was accepted by all.
                    </p>
                    <p style="font-family:courier; text-transform:none;">
                        Ramcharitmanas, made available to the common man by Rama to sing, meditate and perform. Ironically, when he wrote it, Tulsi was instigated by Hindu fundamentalists (then represented by local priests) to "corrupt" an epic written in Sanskrit. Ramacharitmanas's writings also incorporated many cultural traditions, the most important being the Ramlila tradition, the dramatic legislation of the text. Ramcharitmanas is considered by many to be related to the Saguna school of Bhakti movement in Hindi literature.
                    </p>

                </div>

             </div>
        </section>
    </div>

    {% endblock %}