{% extends "base.html" %}
{% load static %}
{% block meta %}

<title>Aarti Ram | शरण्य धाम</title>
<!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
<meta name="description"
    content="Shri Rama Chandra Kripalu Bhajuman, Haran Bhavbhay Darunam, ram arti, Lord ram's Aarti.">
<meta name="keywords" content="ram, ramji, shree ram, आरती, रामचन्द्रजी, Sharanyadham, Sharanya dham">
{% endblock %}
{% block content %}

    <section id="single-page-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="center gap fade-down section-heading">
                                    <h2 class="main-title">Stage 4</h2>
                                    <hr>
                                    <p>Stage 4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">
        <section id="portfolio" class="white">
            <div class="container">
                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">Stage 4</h2>
                    <hr>
                    <p>Stage 4.</p>
                </div>

                <ul class="portfolio-items col-3 isotope fade-up">
                    <li class="portfolio-item apps isotope-item">
                        <div class="item-inner">
                            <img src="{%static 'images/ActiveProject/Stage4/1.jpeg' %}" alt="">
                            <h5>Stage 4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{%static 'images/ActiveProject/Stage4/1.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla bootstrap isotope-item">
                        <div class="item-inner">
                            <img src="{%static 'images/ActiveProject/Stage4/2.jpeg' %}" alt="">
                            <h5>Stage 4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{%static 'images/ActiveProject/Stage4/2.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress isotope-item">
                        <div class="item-inner">
                            <img src="{%static 'images/ActiveProject/Stage4/3.jpeg' %}" alt="">
                            <h5>Stage 4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{%static 'images/ActiveProject/Stage4/3.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps isotope-item">
                        <div class="item-inner">
                            <img src="{%static 'images/ActiveProject/Stage4/4.jpeg' %}" alt="">
                            <h5>Stage 4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{%static 'images/ActiveProject/Stage4/4.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item bootstrap wordpress isotope-item">
                        <div class="item-inner">
                            <img src="{%static 'images/ActiveProject/Stage4/5.jpeg' %}" alt="">
                            <h5>Stage 4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{%static 'images/ActiveProject/Stage4/5.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                    <li class="portfolio-item joomla wordpress apps isotope-item">
                        <div class="item-inner">
                            <img src="{%static 'images/ActiveProject/Stage4/6.jpeg' %}" alt="">
                            <h5>Stage 4</h5>
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="{%static 'images/ActiveProject/Stage4/6.jpeg' %}" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </li><!--/.portfolio-item-->
                </ul>
            </div>
        </section>
    </div>
    {% endblock %}