{% extends "base.html" %}
{% load static %}
{% block meta %}

<title>Events | शरण्य धाम</title>
<!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
<meta name="description" content="In Hinduism, puja (or worship) is essentially a ritual or ceremonial worship, in which offerings are made with devotion to earn love and blessings from God. Although externally it may appear as a mechanical ritual, it has a hidden significance. The act of worship is a symbolic proposition of one's whole mind and body, thoughts, desires, actions and possessions">
<meta name="keywords" content="Hinduism, puja, worship, God, Sharanyadham">

{% endblock %}
{% block content %}

    <div id="content-wrapper">
        <section id="portfolio" class="white">
       		<div class="container">
	        	<div class="gap"></div>
		        	<div class="center gap fade-down section-heading">
                        <h2 class="main-title">Thank You For Reaching Us</h2>
		                <hr>
                        <p>
                            We will get back to you soon.
                        </p>
                        <div class="item-inner">
                            <img src="{%static 'images/namaste.png' %}" alt="">
                        </div>
		            </div>
                </div>
        </section>
    </div>

{% endblock %}