    {% extends "base.html" %}
    {% load static %}
    {% block meta %}

    <title>Upanishads | शरण्य धाम</title>
    <!-- START -- REQUIRED IN ALL PAGES FOR SEO -->
    <meta name="description" content="The Upanishads are commonly known as Vedanta. Vedanta has been interpreted as the last chapter, portions of the Veda and alternatively as the object, the supreme object of the Veda">
    <meta name="keywords" content="Hinduism, Vedas , Upanishads, Upanishad, Sanskrit, God, Indian, spiritual, Vedanta, Mukhi Upanishads,   Sharanyadham">
    
    {% endblock %}
    {% block content %}
   

    <div id="content-wrapper">
        <section id="portfolio" class="white">
       		<div class="container">
	        	<div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">
                        उपनिषद
                    </h2>
                    <hr>
                    <p>
                        वेदों का एक हिस्सा उपनिषद, प्राचीन संस्कृत ग्रंथ हैं, जिनमें हिंदू धर्म के कुछ केंद्रीय दार्शनिक अवधारणाएं और विचार हैं, जिनमें से कुछ को बौद्ध धर्म और जैन धर्म जैसी धार्मिक परंपराओं के साथ साझा किया गया है। भारतीय धर्मों और संस्कृति के इतिहास में सबसे महत्वपूर्ण साहित्य में, उपनिषदों ने प्राचीन भारत में आध्यात्मिक विचारों के विकास में महत्वपूर्ण भूमिका निभाई, जो वैदिक कर्मकांड से नए विचारों और संस्थानों में परिवर्तन का प्रतीक है। सभी वैदिक साहित्य में, उपनिषद अकेले व्यापक रूप से जाने जाते हैं, और उनके केंद्रीय विचार हिंदुओं के आध्यात्मिक मूल में हैं।
                    </p>

                    <p>
                        उपनिषदों को आमतौर पर वेदांत के रूप में जाना जाता है। वेदांत की व्याख्या "अंतिम अध्याय, वेद के भाग" और वैकल्पिक रूप से "वस्तु, वेद के सर्वोच्च उद्देश्य" के रूप में की गई है। ब्राह्मण (परम वास्तविकता) और soultman (आत्मा, आत्म) की अवधारणाएं उपनिषदों के सभी में केंद्रीय विचार हैं, और "जानते हैं कि आप "tman हैं" उनका विषयगत ध्यान केंद्रित है। भगवद् गीता और ब्रह्मसूत्र के साथ, मुखी उपनिषद (जिसे सामूहिक रूप से प्रथनात्रयी के रूप में जाना जाता है) वेदांत के कई बाद के स्कूलों के लिए एक नींव प्रदान करते हैं, उनमें से हिंदू धर्म के दो प्रभावशाली अद्वैत विद्यालय हैं।
                    </p>
                    <p>
                        200 से अधिक उपनिषद ज्ञात हैं, जिनमें से पहले दर्जन या तो सबसे पुराने और सबसे महत्वपूर्ण हैं और उन्हें प्रमुख या मुख्य (मुखी) उपनिषद के रूप में जाना जाता है। मुखी उपनिषद ज्यादातर ब्राह्मणों और अरण्यकों के समापन भाग में पाए जाते हैं और सदियों से, प्रत्येक पीढ़ी द्वारा याद किया जाता है और मौखिक रूप से पारित हो जाता है। प्रारंभिक उपनिषद सभी आम युग से पहले के हैं, उनमें से सभी पूर्व-बौद्ध (छठी शताब्दी ईसा पूर्व) में मौर्य काल के नीचे थे। शेष उपनिषदों में से 95 उपनिषद मुक्तायन तप का हिस्सा हैं, जो पिछली शताब्दियों से बना है। पहली-सहस्त्राब्दी ईसा पूर्व लगभग 15 वीं शताब्दी ई.पू. मुक्तिका घाटी में 108 से परे नए उपनिषद, प्रारंभिक आधुनिक और आधुनिक युग के माध्यम से रचे गए, हालांकि अक्सर वेदों से जुड़े विषयों के साथ काम करते हैं।
                    </p>

                    <h2 class="main-title">
                        Upanishads
                    </h2>
                    <hr>
                    <p style="font-family:courier; text-transform:none;">
                        A part of the Vedas are the Upanishads, ancient Sanskrit texts, which hold some of the central philosophical concepts and ideas of Hinduism, some of which have been shared with religious traditions such as Buddhism and Jainism. In the most important literature in the history of Indian religions and culture, the Upanishads played an important role in the development of spiritual ideas in ancient India, symbolizing the transition from Vedic ritual to new ideas and institutions. In all Vedic literature, the Upanishads alone are widely known, and their central ideas lie in the spiritual origins of Hindus.
                    </p>

                    <p style="font-family:courier; text-transform:none;">
                        The Upanishads are commonly known as Vedanta. Vedanta has been interpreted as "the last chapter, portions of the Veda" and alternatively as "the object, the supreme object of the Veda". The concepts of BRAHMAN (ULTIMATE REALITY) and SOULTMAN (soul, self) are central ideas in all of the Upanishads, and "know you are" TMAN "is their thematic focus.Along with the Bhagavad Gita and the Brahmasutra, the Mukhi Upanishads (collectively known as Prathanatrayi) provide a foundation for many later schools of Vedanta, among them two influential Advaita schools of Hinduism.
                    </p>
                    <p style="font-family:courier; text-transform:none;">
                        More than 200 Upanishads are known, of which the first dozen are either the oldest and the most important and are known as Pramukh or Main (Mukhi) Upanishads. Mukhi Upanishads are mostly found in the concluding part of Brahmins and Aranyakas and are memorized and passed down orally by each generation, over the centuries.The early Upanishads all date back to the Common Era, all of them dating back to pre-Buddhist (sixth century BCE) Mauryan period. Of the remaining Upanishads, 95 Upanishads are part of Muktayan Tapa, which has been formed since the last centuries. First-millennium BCE to about 15th century BCE. New Upanishads beyond 108 in the Muktika valley were composed through the early modern and modern era, though often dealing with themes associated with the Vedas.
                    </p>
                </div>
             </div>
        </section>
    </div>

    {% endblock %}